[push]
	default = current
	autoSetupRemote = true

[core]
  pager = delta
  ignorecase = false

[interactive]
  diffFilter = delta

[delta]
  navigate = true  # use n and N to move between diff sections
  syntax-theme = ansi
[delta "light"]
  light = true
[delta "dark"]
  dark = true

[merge]
	conflictstyle = diff3

[diff]
  colorMoved = default

[pull]
	rebase = true

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[init]
	defaultBranch = main

[advice]
	addIgnoredFile = false

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[diff "lockb"]
	textconv = bun
	binary = true
[include]
  path = ~/.config/git/private/.gitconfig
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
