[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:lttb/nvim.git
  branch = main
[submodule ".config/kitty/themes/catppuccin"]
	path = .config/kitty/themes/catppuccin
	url = git@github.com:lttb/catppuccin-kitty.git
  branch = main
[submodule ".config/gitui/themes/catppuccin"]
	path = .config/gitui/themes/catppuccin
	url = git@github.com:catppuccin/gitui.git
[submodule ".config/bat/themes/catppuccin"]
	path = .config/bat/themes/catppuccin
	url = git@github.com:catppuccin/bat.git
