# `sheldon` configuration file
# ----------------------------
#
# You can modify this file directly or you can use one of the following
# `sheldon` commands which are provided to assist in editing the config file:
#
# - `sheldon add` to add a new plugin to the config file
# - `sheldon edit` to open up the config file in the default editor
# - `sheldon remove` to remove a plugin from the config file
#
# See the documentation for more https://github.com/rossmacarthur/sheldon#readme

shell = "zsh"

[templates]
defer = "{{ hooks?.pre | nl }}{% for file in files %}zsh-defer source \"{{ file }}\"\n{% endfor %}{{ hooks?.post | nl }}"

[plugins]

[plugins.prompt]
local = "~/.config/zsh/instant-prompt"

# IMPORTANT: the zsh-defer plugin definition should be placed before any plugins
# that will use the defer template. Sheldon always processes plugins in the order
# they are defined in the config file.
[plugins.zsh-defer]
github = "romkatv/zsh-defer"
rev    = "53a26e287fbbe2dcebb3aa1801546c6de32416fa"

[plugins.evalcache]
github = "mroth/evalcache"
tag    = "v1.0.2"

[plugins.utils]
local = "~/.config/zsh/utils"

[plugins.compinit]
# - '#q' is an explicit glob qualifier that makes globbing work within zsh's [[ ]] construct.
# - 'N' makes the glob pattern evaluate to nothing when it doesn't match (rather than throw a globbing error)
# - '.' matches "regular files"
# - 'mh+24' matches files (or directories or whatever) that are older than 24 hours.
inline = '''
autoload -Uz compinit
if [[ -n ~/.zcompdump(#qN.mh+24) ]]; then
	zsh-defer compinit;
else
	zsh-defer compinit -C;
fi;
'''

[plugins.colors]
inline = 'autoload -Uz colors && zsh-defer colors'

[plugins.git-prompt]
apply  = ["defer"]
branch = "main"
github = "lttb/git-prompt.zsh"
use    = ["git-prompt.zsh"]
[plugins.git-prompt.hooks]
pre = '''
ZSH_GIT_PROMPT_NO_PROMPT=1
'''

[plugins.zoxide]
apply  = ["defer"]
github = "ajeetdsouza/zoxide"
tag    = "v0.9.7"
[plugins.zoxide.hooks]
post = 'zsh-defer _evalcache zoxide init --cmd j zsh'

[plugins.fzf-tab]
apply  = ["defer"]
github = "Aloxaf/fzf-tab"
tag    = "v1.2.0"

[plugins.completion-config]
inline = '''
# Enable approximate/fuzzy matching for fzf-tab
zstyle ':completion:*:approximate:*' max-errors 1 numeric
zstyle ':completion:*' matcher-list 'm:{a-zA-Z}={A-Za-z}' 'r:|[._-]=* r:|=*' 'l:|=* r:|=*'

# Configure fzf-tab to use these matching options
zstyle ':fzf-tab:*' fzf-flags '--no-exact'

# Make directory completion more flexible
zstyle ':completion:*:cd:*' tag-order local-directories directory-stack path-directories
zstyle ':completion:*' special-dirs true

# Improve handling of special characters in completion
zstyle ':completion:*' accept-exact-dirs true
zstyle ':completion:*' accept-exact '*(N)'
'''

[plugins.oh-my-zsh]
apply  = ["defer"]
github = "ohmyzsh/ohmyzsh"
use    = ["lib/history.zsh"]

[plugins.zsh-autosuggestions]
apply  = ["defer"]
github = "zsh-users/zsh-autosuggestions"
tag    = "v0.7.1"
[plugins.zsh-autosuggestions.hooks]
post = '''
ZSH_AUTOSUGGEST_STRATEGY=(history completion)
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=242'
'''

[plugins.zsh-syntax-highlighting]
apply  = ["defer"]
github = "zsh-users/zsh-syntax-highlighting"
tag    = "0.8.0"

[plugins.zsh-history-substring-search]
apply  = ["defer"]
github = "zsh-users/zsh-history-substring-search"
tag    = "v1.1.0"
[plugins.zsh-history-substring-search.hooks]
post = '''
HISTORY_IGNORE="*'z#*'"

HISTORY_SUBSTRING_SEARCH_ENSURE_UNIQUE=1
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_FOUND='fg=102,bold'
HISTORY_SUBSTRING_SEARCH_HIGHLIGHT_NOT_FOUND='fg=red,bold'

# Bind ^[[A/^[[B manually so up/down works both before and after zle-line-init
bindkey '^[[A' history-substring-search-up
bindkey '^[[B' history-substring-search-down
bindkey '^P' history-substring-search-up
bindkey '^N' history-substring-search-down
bindkey -M vicmd 'k' history-substring-search-up
bindkey -M vicmd 'j' history-substring-search-down
'''

[plugins.zsh-edit]
apply  = ["defer"]
github = "lttb/zsh-edit"

[plugins.fzf]
inline = 'zsh-defer _evalcache fzf --zsh'

# [plugins.tinted-fzf]
# apply  = ["defer"]
# github = "tinted-theming/tinted-fzf"
# use    = ["sh/base16-primer-dark-dimmed.sh"]

[plugins.fzf-theme-morningstar]
inline = '''
if [[ "$THEME_MODE" == "dark" ]]; then
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:#404040,bg:#24282e,spinner:#66A5AD,hl:#6099C0"\
" --color=fg:#BBBBBB,header:#6099C0,info:#B77E64,pointer:#66A5AD"\
" --color=marker:#66A5AD,fg+:#BBBBBB,prompt:#B77E64,hl+:#61ABDA"
else
export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:#dfdad9,bg:#ffffff,spinner:#d7827e,hl:#56949f"\
" --color=fg:#575279,header:#56949f,info:#ea9d34,pointer:#d7827e"\
" --color=marker:#d7827e,fg+:#575279,prompt:#ea9d34,hl+:#56949f"
fi
'''

# [plugins.fnm]
# inline = 'zsh-defer _evalcache fnm env --use-on-cd --log-level=quiet'

[plugins.vim]
inline = '''
bindkey -v

# Yank to the system clipboard
function vi-yank-xclip {
  zle vi-yank
  echo "$CUTBUFFER" | pbcopy -i
}

zle -N vi-yank-xclip
bindkey -M vicmd 'y' vi-yank-xclip
'''

# @see "trapd00r/LS_COLORS"
[plugins.vivid]
inline = '''
zsh-defer _evalcache export LS_COLORS=\"$(vivid generate nord)\"
'''

[plugins.bun]
inline = '''
# bun completions
zsh-defer safe_source "$HOME/.bun/_bun"
'''

[plugins.sheldon]
inline = '''
# sheldon completions
zsh-defer _evalcache sheldon completions --shell zsh
'''

[plugins.pnpm-completion]
inline = '''
zsh-defer _evalcache pnpm completion zsh
'''

[plugins.broot]
inline = 'zsh-defer _evalcache broot --print-shell-function zsh'
[plugins.broot_kitty]
inline = '''
if [[ -n "${KITTY_WINDOW_ID+1}" ]]; then
  function br_detached {
    local cmd_file=$(mktemp)

    # Launch broot in a new split window and capture its raw output as the window ID
    local broot_window_id=$(kitty @ launch --allow-remote-control --cwd=current --location=hsplit broot --outcmd "$cmd_file" "$@")

    # Wait for the broot window to close
    while kitty @ ls --match id:"$broot_window_id" >/dev/null 2>&1; do
      sleep 0.1
    done

    # Check if broot wrote a command to the file
    if [[ -s "$cmd_file" ]]; then
      cmd=$(<"$cmd_file")
      rm -f "$cmd_file"
      # Execute the command directly in this shell
      BUFFER="$cmd"
      zle accept-line
    else
      rm -f "$cmd_file"
    fi
  }

  zle -N br_widget br_detached
  bindkey "^F" br_widget
fi
'''

[plugins.television]
inline = 'zsh-defer _evalcache tv init zsh'

# [plugins.mise]
# inline = 'zsh-defer _evalcache mise activate zsh'

# [plugins.fnox]
# inline = 'zsh-defer _evalcache fnox activate zsh'

[plugins.worktrunk]
inline = 'zsh-defer _evalcache wt config shell init zsh'

[plugins.entire]
inline = 'zsh-defer _evalcache entire completion zsh'
